* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; 
}

/* general */
header {
  background-color: #E5F3F2;
  text-align: center;
  width: 100%;
}

h1 {
  padding: 20px;
  color: #00A79D;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

button {
  outline: none;
}

/* classes */ 
.h1-style {
  color: #6D6E71;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.input {
  font-size: 1.5rem;
  display: block;
  width: 50%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 2px solid #C1C2C4;
  line-height: 36px;
}


.body-input {
  height: 36px;

}

.bottom-section{
  width: 100%;
  text-align: center;
} 

.search-input {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 515px;
  width: 51.5%;
}


.user-idea {
  width: 50%;
  max-width: 519px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #D1D3D4;
  position: relative;
  margin-bottom: 20px;
}

.user-idea-title {
  color: #6D6E71;
  margin-bottom: 10px;
}

.user-idea-body {
  color: #939598;
  margin-bottom: 10px;
}

.quality {
  color: #939598;
  display: inline-block;
  margin-left: 20px;
  vertical-align: super;
  margin-bottom: 17px;
}

.quality-placeholder {
  color: #6D6E71;
  display: inline-block;
}

/* buttons */
.save-idea-bttn {
  width: 51.5%;
  max-width: 515px;
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 2rem;
  margin-bottom: 25px; 
  padding-bottom: 2px;
}

.quality-bttn {
  width: 16.8%;
  max-width: 169px;
  font-size: 1rem;
  background-color: #00A79D;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.show-all-bttn {
  display: block;
  max-width: 515px;
  width: 51.5%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.delete-bttn {
  background-image: url(images/delete.svg);
  top: 2px;
  right: 4px;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  background-color: transparent;
}

.upvote-bttn {
  background-image: url(images/upvote.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.downvote-bttn {
  background-image: url(images/downvote.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  border: none;
  background-color: transparent;
}

/*  pseudo-element */

.input::placeholder {
  color: #C1C2C4;
}

.save-idea-bttn:disabled {
  background-color: #6D6E71;
}

/* hovers */
.save-idea-bttn:hover {
  background-color: #045E55;
}

.quality-bttn:hover {
  background-color: #045E55;
}

.delete-bttn:hover {
  background-image: url(images/delete-hover.svg);
}

.upvote-bttn:hover {
  background-image: url(images/upvote-hover.svg);
}

.downvote-bttn:hover {
  background-image: url(images/downvote-hover.svg);
}

/* media */
@media (min-width: 1500px) {
   h1,
  .h1-style {
    font-size: 5rem;
  }
  
  .input {
    width: 66%;
    max-width: 728px;
  }

  .quality-bttn {
    width: 21.4%;
    max-width: 241px;
    font-size: 1.5rem;
  }

  .save-idea-bttn,
  .show-all-bttn {
    width: 66%;
    max-width: 742px;
  }
  
  .user-idea {
    width: 64.2%;
    max-width: 725px;
  }

  .user-idea-title {
    font-size: 2rem;
  }

  .user-idea-body,
  .quality,
  .quality-placeholder {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  h1,
  .h1-style {
    font-size: 2.5rem;
  }
  
  .input {
    width: 80%;
  }

  .search-input {
    width: 82%;
  }

  .save-idea-bttn {
    width: 83%;
  }

  .quality-bttn {
    width: 26.8%;
  }

  .body-input {
    height: 95px;
  }
  
  .user-idea {
    width: 78%;
  }

  .show-all-bttn {
    width: 82%;
  }
}

